<div class="jumbotron">
    <br>
    <h1><p class="text-white">UTN - FRC Ingeniería en Sistemas de Información</h1>
    <h1><p class="text-white">Trabajos Prácticos de Simulación 2021 </h1> 
    
    <div class="row">
      <div class="col-6">
        <div class="holder">
      
          <p class="lead"><p class="text-white">Los trabajos estarán a cargo de los profesores: </p>
            <ul><p class="text-white">
              <li>Sergio Horacio Castro</li>
              <li>Juan Pablo Pedroni</li>
              <li>Lorena Natalia Barale</li></p>
            </ul>
    
          <p><p class="text-white">Quienes desarrollaran los trabajos son los estudiantes: </p>
          
            <ul><p class="text-white">
              <li>Massei Gino  -79366-</li>
              <li>Roch Gastón  -75313-</li>
              <li>Brian Dobler -65063-</li></p>
            </ul>
        </div>
      </div>
      <div class="col-6 mt-4">
        <img src="../../../assets/imagenes/UTN_logo.jpg" class="img-fluid rounded mx-auto d-block" style="max-height: 450px;" >
      </div>
    </div>

  </div>

  