<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"><p class="text-info"><br>Tabajos Practicos</p> </a>
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="components/inicio"><p class="text-info"><br> Inicio</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="components/primertp"><p class="text-info"><br>PrimerTP</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="components/segundotp"><p class="text-info"><br>SegundoTP</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="components/tercertp"><p class="text-info"><br>TercerTP</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="components/cuartotp"><p class="text-info"><br>CuartoTP</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="components/quintotp"><p class="text-info"><br>QuintoTP</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="components/sextotp"><p class="text-info"><br>SextoTP</p></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>