<div class="container">
    <div>
        <h3>
            <p class="text-center" ><br><br>Tema: Toma de Datos</p>
        </h3>
        <br><br>
    </div>
    <div>
        <h4>Seleccione la muestra aleatoria a evaluar:</h4><br>
    </div>
    

    
    <div class="row">

        <div class="col-12">
            <button type="button" class="btn btn-primary btn-lg btn-block"(click)="taxis()"><dt>Taxis NYC</dt></button>
            <br></div>
        <div class="col-12"></div>

        <div class="col-12">
            <button type="button"  class="btn btn-primary btn-lg btn-block"(click)="france()"><dt>Accidentes en francia</dt></button>
        </div>
        <div class="col-12"></div>
    </div>
</div>