<div class="container">
    <div>
        <h3>
            <p class="text-center">Tema: Toma de Datos</p>
        </h3>
        <br><br>
    </div>
    <div>
        <h4>Seleccione la muestra aleatoria a evaluar:</h4>
    </div>
    
    <div class="btn-group" role="group" aria-label="Basic example">
        <body>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-primary btn-lg btn-block"(click)="taxis()"><dt>Taxis NYC</dt></button>
                
            </div>
            <div class="row justify-content-center">
                <button type="button"  class="btn btn-primary btn-lg btn-block"(click)="france()"><dt>Accidentes en francia</dt></button>     
                
            </div>
        </body>       
                   
    </div>
    <div class="row">

        <div class="col-6">
            <button type="button" class="btn btn-primary btn-block">Taxis NYC

            </button>
        </div>
        <div class="col-6"></div>

    </div>

</div>


<!-- Botones -->
