<div class="container">
    <div class="row m-3">
        <div class="panel-heading"><br>
            <h3>
                <p class="text-center">Simulacion Montecarlo</p>
            </h3>
        </div>
    </div>

    <!-- Select a random number generator for the distribution values -->
    <div class="row justify-content-center m-4">
        <div class="col">
            <button type="button" class="btn btn-secondary">
                Seleccione el generador a utilizar
            </button>
        </div>
        <div class="col">
            <input (click)="setGenerator('native-generator')" type="radio" class="btn-check" name="options-outlined"
                id="success-outlined" autocomplete="off" checked>
            <label class="btn btn-outline-success" for="success-outlined">Generador Nativo</label>
        </div>
        <div class="col">
            <input (click)="setGenerator('congruential-generator')" type="radio" class="btn-check"
                name="options-outlined" id="danger-outlined" autocomplete="off">
            <label class="btn btn-outline-danger" for="danger-outlined">Generador Congruencial Lineal</label>
        </div>
    </div>

    <!-- Render the fields to set the linear congruential generator -->
    <form [formGroup]="generatorForm" class="container m-4" *ngIf="generatorType === 'congruential-generator'">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text">Semilla</span>
                    <input type="number" (change)="checkIfValid('seed', generatorForm.controls['seed'])" id="seed"
                        class="form-control" placeholder="Semilla" formControlName="seed">
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text">Módulo</span>
                    <input type="number" (change)="checkIfValid('mod', generatorForm.controls['mod'])" id="mod"
                        class="form-control" placeholder="Módulo" formControlName="mod">
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text">A</span>
                    <input type="number" (change)="checkIfValid('a', generatorForm.controls['a'])" id="a"
                        class="form-control" placeholder="A" formControlName="a">
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text">C</span>
                    <input type="number" (change)="checkIfValid('c', generatorForm.controls['c'])" id="c"
                        class="form-control" placeholder="C" formControlName="c">
                </div>
            </div>
        </div>
    </form>

    <!-- Renderiza un botón por cada tarea. -->
    <div class="row justify-content-start m-3" *ngFor="let task of tasks">
        <!-- Activity name -->
        <div class="col col-2">
            <button type="button" class="btn btn-secondary">
                {{ task.name }}
            </button>
        </div>

        <!-- Distribution selector -->
        <div class="col col-4">
            <select class="form-select" #nomselec (change)='task.selectDistribution(nomselec.value)'
                aria-label="Default select example">
                <option selected hidden>Default: {{ task.distributionType }}</option>
                <option value="uniform">Uniforme</option>
                <option value="exponential">Exponencial</option>
                <option value="normal">Normal</option>
            </select>
        </div>

        <!-- Depends on the distribution selected for each task -->
        <!-- Uniform distribution -->
        <div class="col col-6" *ngIf="task.distributionType === 'uniform'">
            <form [formGroup]="task.distributionForm">
                <div class="container">
                    <div class="input-group mb-3">
                        <span class="input-group-text">A</span>
                        <input type="number" (change)="checkIfValid('uniform-A', task.distributionForm.controls['A'])"
                            id="uniform-A" class="form-control" placeholder="A" formControlName="A">

                        <span class="input-group-text">B</span>
                        <input type="number" (change)="checkIfValid('uniform-B', task.distributionForm.controls['B'])"
                            id="uniform-B" class="form-control" placeholder="B" formControlName="B">
                    </div>
                </div>
            </form>
        </div>

        <!-- Normal distribution -->
        <div class="col col-6" *ngIf="task.distributionType === 'normal'">
            <form [formGroup]="task.distributionForm">
                <div class="container">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Mu</span>
                        <input type="number" (change)="checkIfValid('normal-mu', task.distributionForm.controls['mu'])"
                            id="normal-mu" class="form-control" placeholder="Mu" formControlName="mu">

                        <span class="input-group-text" id="basic-addon1">Sigma</span>
                        <input type="number" class="form-control" placeholder="Sigma" formControlName="sigma">
                    </div>
                </div>
            </form>
        </div>

        <!-- Exponential distribution -->
        <div class="col col-6" *ngIf="task.distributionType === 'exponential'">
            <form [formGroup]="task.distributionForm">
                <div class="container">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Lambda</span>
                        <input type="number" (change)="checkIfValid('exponential-lambda', task.distributionForm)"
                            id="exponential-lambda" class="form-control" placeholder="Lambda" formControlName="lambda">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Get the parameters of the montecarlo simulation -->
    <div class="row justify-content-start m-3 p-5">
        <form [formGroup]="simulationForm" class="col">
            <div class="input-group">
                <span class="input-group-text">Número de simulaciones</span>
                <input type="number"
                    (change)="checkIfValid('numberOfSimulations', simulationForm.controls['numberOfSimulations'])"
                    id="numberOfSimulations" class="form-control" formControlName="numberOfSimulations">
            </div>
        </form>

        <div class="col">
            <button type="button" (click)="submitAll()" [disabled]="!generatorForm.valid"
                class="btn btn-outline-dark">Simular</button>
        </div>
        <div class="col">
            <button type="button" (click)="submitAll()" class="btn btn-outline-dark">Simular</button>
        </div>
    </div>

    <!-- Simulation Results -->
    <div class="row">
        <!-- Acá va la tabla de la simulación montecarlo -->
        <div class="container border border-4">
            <div class="header">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="row">
                      <p class="text-center">Dia</p>
                    </th>
                    <th scope="row">
                      <p class="text-center">Random A1</p>
                    </th>
                    <th scope="row">
                        <p class="text-center">Actividad 1</p>
                    </th>
                    <th scope="row">
                        <p class="text-center">Random A2</p>
                      </th>
                    <th scope="row">
                        <p class="text-center">Actividad 2</p>
                    </th>
                    <th scope="row">
                        <p class="text-center">Random A3</p>
                      </th>
                    <th scope="row">
                        <p class="text-center">Actividad 3</p>
                    </th>
                    <th scope="row">
                        <p class="text-center">Random A5</p>
                      </th>
                    <th scope="row">
                        <p class="text-center">Actividad 4</p>
                    </th>
                    <th scope="row">
                        <p class="text-center">Random A5</p>
                      </th>
                    <th scope="row">
                        <p class="text-center">Actividad 5</p>
                    </th>
                    <th scope="row">
                        <p class="text-center">Tarea de Ensayo en Curso</p>
                  </th>
                  </tr>
                </thead>
              </table>
            </div>
    </div>
</div>