<div class="container">
    <div class="row m-3">
        <div class="panel-heading"><br>
            <h3>Simulacion Montecarlo</h3>
        </div>
    </div>

    <!-- Select a random number generator for the distribution values -->
    <div class="card m-2">
        <!-- Card Title -->
        <h6 class="card-header">Seleccione el generador a utilizar</h6>
        <div class="card-body">
            <div class="row justify-content-around">
                <div class="col-4">
                    <input (click)="setGenerator('native-generator')" type="radio" class="btn-check"
                        name="options-outlined" id="success-outlined" autocomplete="off" checked>
                    <label class="btn btn-outline-success" for="success-outlined">Generador Nativo</label>
                </div>
                <div class="col-4">
                    <input (click)="setGenerator('congruential-generator')" type="radio" class="btn-check"
                        name="options-outlined" id="danger-outlined" autocomplete="off">
                    <label class="btn btn-outline-danger" for="danger-outlined">Generador Congruencial Lineal</label>
                </div>
            </div>

            <!-- Render the fields to set the linear congruential generator -->
            <form [formGroup]="generatorForm" class="row" *ngIf="generatorType === 'congruential-generator'">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Semilla</span>
                        <input type="number" (change)="checkIfValid('seed', generatorForm.controls['seed'])" id="seed"
                            class="form-control" placeholder="Semilla" formControlName="seed">
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Módulo</span>
                        <input type="number" (change)="checkIfValid('mod', generatorForm.controls['mod'])" id="mod"
                            class="form-control" placeholder="Módulo" formControlName="mod">
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">A</span>
                        <input type="number" (change)="checkIfValid('a', generatorForm.controls['a'])" id="a"
                            class="form-control" placeholder="A" formControlName="a">
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">C</span>
                        <input type="number" (change)="checkIfValid('c', generatorForm.controls['c'])" id="c"
                            class="form-control" placeholder="C" formControlName="c">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Renderiza un botón por cada tarea. -->
    <div class="card m-2" *ngFor="let task of tasks; let i = index">
        <!-- Activity name -->
        <h6 class="card-header">Seleccione la distribución y sus parámetros para {{ task.name }}</h6>
        <div class="row align-items-center m-2">
            <!-- Distribution selector -->
            <div class="col">
                <select class="form-select" #nomselec (change)='task.selectDistribution(nomselec.value)'>
                    <option selected>Seleccione el tipo de distribución</option>
                    <option value="uniform">Distribución Uniforme</option>
                    <option value="exponential">Distribución Exponencial</option>
                    <option value="normal">Distribución Normal</option>
                </select>
            </div>

            <!-- Depends on the distribution selected for each task -->
            <!-- Uniform distribution -->
            <form [formGroup]="task.distributionForm" class="col col-6" *ngIf="task.distributionType === 'uniform'">
                <div class="container">
                    <div class="input-group">
                        <span class="input-group-text">A</span>
                        <input type="number"
                            (change)="checkIfValid(task.name + task.distributionType + i + 'a', task.distributionForm.controls['A'])"
                            id="{{ task.name + task.distributionType + i + 'a' }}" class="form-control" placeholder="A"
                            formControlName="A">

                        <span class="input-group-text">B</span>
                        <input type="number"
                            (change)="checkIfValid(task.name + task.distributionType + i + 'b', task.distributionForm.controls['B'])"
                            id="{{ task.name + task.distributionType + i + 'b' }}" class="form-control" placeholder="B"
                            formControlName="B">
                    </div>
                </div>
            </form>


            <!-- Normal distribution -->
            <form [formGroup]="task.distributionForm" class="col col-6" *ngIf="task.distributionType === 'normal'">
                <div class="input-group">
                    <span class="input-group-text">Mu</span>
                    <input type="number"
                        (change)="checkIfValid(task.name + task.distributionType + i + 'mu', task.distributionForm.controls['mu'])"
                        id="{{ task.name + task.distributionType + i + 'mu' }}" class="form-control" placeholder="Mu"
                        formControlName="mu">

                    <span class="input-group-text">Sigma</span>
                    <input type="number"
                        (change)="checkIfValid(task.name + task.distributionType + i + 'sigma', task.distributionForm.controls['sigma'])"
                        id="{{ task.name + task.distributionType + i + 'sigma' }}" class="form-control"
                        placeholder="Sigma" formControlName="sigma">
                </div>
            </form>

            <!-- Exponential distribution -->
            <form [formGroup]="task.distributionForm" class="col col-6" *ngIf="task.distributionType === 'exponential'">
                <div class="input-group">
                    <span class="input-group-text">Lambda</span>
                    <input type="number"
                        (change)="checkIfValid(task.name + task.distributionType + i, task.distributionForm)"
                        id="{{ task.name + task.distributionType + i }}" class="form-control" placeholder="Lambda"
                        formControlName="lambda">
                </div>
            </form>
        </div>
    </div>

    <!-- Get the parameters of the montecarlo simulation -->
    <div class="card m-5">
        <h6 class="card-header">Seleccionemos ahora algunos parámetros de la simulación</h6>
        <form [formGroup]="simulationForm" class="row justify-content-start m-3">
            <div class="col-6">
                <div class="input-group">
                    <span class="input-group-text">Número de simulaciones</span>
                    <input type="number"
                        (change)="checkIfValid('numberOfSimulations', simulationForm.controls['numberOfSimulations'])"
                        id="numberOfSimulations" class="form-control" formControlName="numberOfSimulations">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <span class="input-group-text">Desde</span>
                    <input type="number" (change)="checkIfValid('from', simulationForm.controls['from'])" id="from"
                        class="form-control" formControlName="from">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <span class="input-group-text ">Hasta</span>
                    <input type="number" (change)="checkIfValid('to', simulationForm.controls['to'])" id="to"
                        class="form-control" formControlName="to">
                </div>
            </div>
        </form>
        <div class="row m-3">
            <div class="col">
                <button type="button" (click)="submitAll()" class="btn btn-outline-dark">Simular</button>
            </div>
        </div>
    </div>

    <!-- Simulation Results -->
    <div class="row border border-4 m-3">
        <!-- Acá va la tabla de la simulación montecarlo -->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">
                            <p class="text-center">Dia</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Rand A1</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Actividad 1</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Rand A2</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Actividad 2</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Rand A3</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Actividad 3</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Rand A4</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Actividad 4</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Rand A5</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Actividad 5</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Camino 1 - (A1 - A4 - A5)</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Camino 2 - (A2 - A5)</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Camino 3 - (A3)</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Duración tarea</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Camino Critico</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Duración media</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Varianza</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Desviación</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Fecha  NC 90%</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Actividad 1</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Actividad 2</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Actividad 3</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Actividad 4</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Actividad 5</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Crit A1</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Crit A2</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Crit A3</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Crit A4</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Crit A5</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">0</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">1</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">2</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">3</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">4</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">5</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">6</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">7</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">8</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">9</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">10</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">11</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">12</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">13</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">14</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">15</p>
                        </th>
            
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Prob 1</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Prob 2</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Prob 3</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Prob 4</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Prob 5</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Prob 6</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Prob 7</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Prob 8</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Prob 9</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Prob 10</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Prob 11</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Prob 12</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Prob 13</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Prob 14</p>
                        </th>
                        <th scope="col" nowrap="nowrap">
                            <p class="text-center">Prob 15</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of montecarloRows">
                        <th scope="row">
                            <p class="text-center">{{ i.day }}</p>
                        </th>
                        <td>
                            <p class="text-center">{{ i.randomA1 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.A1DaysLeft }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.randomA2 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.A2DaysLeft }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.randomA3 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.A3DaysLeft }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.randomA4 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.A4DaysLeft }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.randomA5 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.A5DaysLeft }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.path1 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.path2 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.path3 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.assemblyTaskDuration }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.criticalPath }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.mean }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.variance }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.standardDeviation }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.dateNC90 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.A1 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.A2 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.A3 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.A4 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.A5 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.criticalA1 * 100 }}%</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.criticalA2 * 100 }}%</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.criticalA3 * 100 }}%</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.criticalA4 * 100 }}%</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.criticalA5 * 100 }}%</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.interval0 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.interval1 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.interval2 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.interval3 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.interval4 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.interval5 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.interval6 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.interval7 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.interval8 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.interval9 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.interval10 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.interval11 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.interval12 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.interval13 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.interval14 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ i.interval15 }}</p>
                        </td>

                        <td>
                            <p class="text-center">{{ Math.round(i.percentage0 * 1000) / 1000 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ Math.round(i.percentage1 * 1000) / 1000 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ Math.round(i.percentage2 * 1000) / 1000 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ Math.round(i.percentage3 * 1000) / 1000 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ Math.round(i.percentage4 * 1000) / 1000 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ Math.round(i.percentage5 * 1000) / 1000 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ Math.round(i.percentage6 * 1000) / 1000 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ Math.round(i.percentage7 * 1000) / 1000 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ Math.round(i.percentage8 * 1000) / 1000 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ Math.round(i.percentage9 * 1000) / 1000 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ Math.round(i.percentage10 * 1000) / 1000 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ Math.round(i.percentage11 * 1000) / 1000 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ Math.round(i.percentage12 * 1000) / 1000 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ Math.round(i.percentage13 * 1000) / 1000 }}</p>
                        </td>
                        <td>
                            <p class="text-center">{{ Math.round(i.percentage14 * 1000) / 1000 }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Simulation Graphics -->
    <div class="row text-center mb-3">
        <div class="col">
          <canvas id="myChart"></canvas>
        </div>

        <div class="col">
            <div class="card m-5">
                <h6 class="card-header">Parámetros identificados de la simulación</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Duración máxima de la tarea de ensamble: {{ (maxDuration !== 0) ? maxDuration : '-' }} días</li>
                    <li class="list-group-item">Duración minima de la tarea de ensamble: {{ (minDuration !== 0) ? minDuration : '-' }} días</li>
                    <li class="list-group-item">Duración media de la tarea de ensamble: {{ (mean !== 0) ? mean : '-' }} días</li>
                    <li class="list-group-item">Probabilidad de finalizar la tarea < 45 días: {{ (probFinishedLess45days !== 0) ? probFinishedLess45days : '-' }}</li>
                    <li class="list-group-item">Varianza: {{ (variance !== 0) ? variance : '-' }}</li>
                    <li class="list-group-item">Desviación: {{ (deviation !== 0) ? deviation : '-' }}</li>
                    <li class="list-group-item">Un 90% de las pruebas dieron {{ (dateNC90 !== 0) ? dateNC90 : '-' }} días o menos.</li>
                </ul>    
            </div>
        </div>
    </div>
</div>