<div class="container">
    <div class="row m-3">
        <div class="panel-heading"><br>
            <h3><p class="text-center">Simulacion Montecarlo</p></h3>
        </div>
    </div>

    <!-- Select a random number generator for the distribution values -->
    <div class="row justify-content-center m-3">
        <div class="col col-3">
            <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" checked>
            <label class="btn btn-outline-success" for="success-outlined">Generador Nativo</label>
        </div>
        <div class="col col-3">
            <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
            <label class="btn btn-outline-danger" for="danger-outlined">Generador Congruencial</label>
        </div>            
    </div>

    <!-- Renderiza un botón por cada tarea. -->
    <div class="row justify-content-start m-3" *ngFor="let task of tasks">
        <div class="col col-2">
            <button type="button" class="btn btn-secondary">
                {{ task.name }}
            </button>
        </div>

        <div class="col col-4">
            <select class="form-select" #nomselec (change)='task.selectDistribution(nomselec.value)' aria-label="Default select example">
              <option selected hidden>Default: {{ task.distributionType }}</option>
              <option value="uniform">Uniforme</option>
              <option value="exponential">Exponencial</option>
              <option value="normal">Normal</option>
            </select>
        </div> 

        <!-- Depends on the distribution selected for each task -->
        <!-- Uniform distribution -->
        <div class="col col-6" *ngIf="task.distributionType === 'uniform'">
            <div class="container">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="A">
                    <input type="text" class="form-control" placeholder="B">
                </div>
            </div>
        </div>

        <!-- Normal distribution -->
        <div class="col col-6" *ngIf="task.distributionType === 'normal'">
            <div class="container">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Mu">
                    <input type="text" class="form-control" placeholder="Sigma">
                </div>
            </div>
        </div>

        <!-- Exponential distribution -->
        <div class="col col-6" *ngIf="task.distributionType === 'exponential'">
            <div class="container">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Lambda">
                </div>
            </div>
        </div>
    </div>

    <!-- Get the parameters of the montecarlo simulation -->
    <div class="row justify-content-start m-3 p-5">
        <div class="col">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Número de simulaciones</span>
                <input type="text" class="form-control">
            </div>  
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-dark">Simular</button>
        </div>
    </div>
</div>